@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-theme {
  --primary: 4 94 179;
  --primary-content: 255 255 255;
  --secondary: 255 178 74;
  --secondary-content: 49 49 49;
  --accent: 3 60 124;
  --accent-content: 255 255 255;
  --baseColor: 49 49 49;
  --titleColor: 4 94 179;
  --container: 249 249 249;
  --neutral: 255 255 255;
  --outline: 122 117 117;
  --info: 37 99 235;
  --success: 18 110 52;
  --warning: 217 119 6;
  --error: 220 38 38;
  --disabled: 233 236 239;
  --transparent: transparent;
  --mood-verypoorly: #f99f2c;
  --mood-poor: #ffda47;
  --mood-alright: #84acd9;
  --mood-well: #a4bc39;
  --mood-verywell: #4b9f88;
  --font-header: "Dosis", "sans-serif";
  --font-body: "Montserrat", "sans-serif";
}
